body {
	font-family: 'Lora', serif;
}

.page-title {
	margin: 20px auto 10px auto;
	diplay: block;
	text-align:center;
	font-size: 55px;
	cursor: pointer;
	color:#2E0854;
}

.titleArea {
	padding: 5px 25px 5px 25px;
	text-align: center;
	border-bottom: solid black 2px;
	color: #2E0854;
}


.pic1 {
	height:300px;
	background-image: url("images/IMG_3729.JPG");
	background-size: 200px;
	background-repeat: no-repeat;
	float: left;
}

.pic2 {
	height:300px;
	background-image: url("images/IMG_3732.jpg");
	background-size: 200px;
	background-repeat: no-repeat;
	float: left;
}

.pic3 {
	height:300px;
	background-image: url("images/IMG_3733.jpg");
	background-size: 200px;
	background-repeat: no-repeat;
	float: left;
}
