
/*applies to all pages*/

.header {
	top: 0;
	width: 82%;
	position: fixed;
	margin-left: 9%;
	font-family: 'Lora', serif;
	background-color: white;
}

.bodyLower {
	font-family: 'Lora', serif;
	background-color: white;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.page-title {
	margin: 20px auto 10px auto;
	diplay: block;
	text-align:center;
	font-size: 55px;
	cursor: pointer;
	color: black;
}

.pageBreak0 {
	padding: 5px 25px 5px 25px;
	text-align: center;
	border-bottom: solid black 1px;
	border-color: black;
	clear: both;
}

.menu {
	padding-top: 10px;
	display: table;
	margin-left: auto;
	margin-right: auto;
}


.menuItem {
	display: table-cell;

}

.menuItem a {
	border-collapse: separate;
	padding-left: 20px;
	padding-right: 20px;
	display: table-cell;
	text-decoration: none;
	color:pink;
	font-size: 18px;
	margin: 30px;
}


.pageBreak1 {
	padding: 5px 25px 5px 25px;
	text-align: center;
	border-bottom: solid black 2px;
	border-color: black;
	clear: both;
}

.postArea {
	margin-top: 165px;
	clear: both;
}

.date {
	margin-top: 15px;
	font-size: 27px;
	font-style: italic;
}

p {
	font-size: 15px;
	padding: 5px 20px 5px 20px;
}

.inTextLink {
	text-decoration: none;
	color: pink;
	font-style: bold;
	font-size: 1.1em;
}
/*making sure this is set up right*/
/*.postArea {*/
	/*background-color: blue;*/
/*}*/

/*p {
	background-color: pink;
}
*//*end of making sure it's set up right*/


/*.picLContainer {
	margin-top: 50%;
}*/

.picLContainer {
	margin-top: 13px;
}

.picL {
	float: left;
	clear: both;
	/*text-align: left;*/
	padding: 10px;
}


.picR {
	float: right;
	padding-left: 5px;
}

.picContainerC {
	text-align: center;
	width: 100%;
}

.picC {
	display: inline-block;
	text-align: center;
	padding: 10px;
	vertical-align: middle;
}


ul {
	list-style-position: inside;
}

li {
	text-indent: 5px;
}

.ulTitle {
	padding-bottom: 5px;
	font-size: 20px;
}


/*About page specific css*/

.aboutArea {
	margin-top: 150px;
	font-family: 'Lora', serif;
	background-color: white;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.Q::first-letter {
	font-weight: bold;
	font-size: 25px;
	color: purple;
}

.A::first-letter {
	font-weight: bold;
	font-size: 25px;
	color: purple;
}


/*learning page specific*/
.learningArea {
	margin-top: 150px;
	font-family: 'Lora', serif;
	background-color: white;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}


.myLinkList {
	font-size: 25px;
	text-align: center;
	width: 95%;
	margin-left: auto;
	margin-right:auto;
	list-style-position: outside;
}

.myLinks {
	font-size:15px;
	padding:2px;
	text-align: left;
}

