body {
	font-family: 'Lora', serif;
	background-color: white;
}

.page-title {
	margin: 20px auto 10px auto;
	diplay: block;
	text-align:center;
	font-size: 55px;
	cursor: pointer;
	color:#F6CCDA;
}

.pageBreak1 {
	padding: 5px 25px 5px 25px;
	text-align: center;
	border-bottom: solid black 2px;
	border-color: #FFF0F5;
}

.date {
	margin-top: 15px;
	font-size: 27px;
	font-style: bold;
}

.postAreaD1 {
	clear: both;
}

.picAreaD1 {
	width: 50%;
	float: left;
}

.picVert {
	margin:15px 30px 15px 30px;
	border: solid 1px #FFF0F5;
	clear: left;
	float: left;
	height: 10%;
	width: 10%;
}

.picD2 {
	float: right;
}

p {
	font-size: 15px;
	padding: 5px 20px 5px 20px;
}
