#player {
	position: relative;
	top: 0px;
	left: 600px;
	height: 75px;
	width: 75px;
	background-color: pink;
	border-radius: 10%;

}

table {
	margin-right: auto;
	margin-left: auto;
	width: 100%;
}

/*speedup & slowdown buttons*/
#speedUp {
	height: 45px;
	width: 45px;
	background-color: #F8F8F8;
	position: fixed;
	top: 5px;
	left: 10px;
	border: black solid 1px;
	border-radius: 5px;
}

#slowDown {
	height: 45px;
	width: 45px;
	background-color: #F8F8F8;
	top: 55px;
	left: 10px;
	position: fixed;
	border: black solid 1px;
	border-radius: 5px;
}

#scoreboard {
	text-align: center;
	color: white;
	height: 90px;
	width: 90px;
	background-color: #989898;
	top: 5px;
	left: 60px;
	position: fixed;
	border: black solid 1px;
	border-radius: 5px;
}
/*divID starting positions*/

#one1 {
	left: 100px;
	top: 50px;
}

#two1 {
	left: 450px;
	top: 50px;
}

#three1 {
	left: 750px;
	top: 50px;
}

#one2 {
	left: 200px;
	top: 50px;
}

#two2 {
	left: 350px;
	top: 50px;
}


#three2 {
	left: 700px;
	top: 50px;
}


#one3 {
	left: 600px;
	top: 50px;
}


#two3 {
	left: 200px;
	top: 50px;
}


#three3 {
	left: 900px;
	top: 50px;
}

/*divClass coloring and height*/
.one {
	height: 45px;
	width: 45px;
	background-color: black;
	position: relative;
	border: white solid 1px;
	border-radius: 5px;
}

.two {
	height: 45px;
	width: 45px;
	background-color: purple;
	position: relative;
	border: white solid 1px;
	border-radius: 5px;
}

.three {
	height: 45px;
	width: 45px;
	background-color: indigo;
	position: relative;
	border: white solid 1px;
	border-radius: 5px;	
}